/* regole generali pagina  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

/* regole generali body */
body{
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
}

.conteiner{
    width: 70%;
    margin: auto;
}

/* regole header */
header{
    height: 150px;
    font-size: 30px;
    margin: auto;
    text-align: center;
    color: palevioletred;
    padding-top: 30px;
    
}

/* regole main */
main{
    margin: 30px 0;
}

.intro{

}

/* regole griglia */
.row{
    margin-left: -10px;
    margin-right: -10px;
    /* DEBUG */
    /* min-height: 100px;
    background-color: blueviolet; */
}

.col{
    float: left;
    width: calc(100% / 3 - 20px);
    height: 100px;
    border: solid 2px black;
    margin: 10px ;
    background-color: black;
    
        /* DEBUG */
    
    
}

