/* regole generali pagina  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* regole generali body */
body{
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
}

.conteiner{
    width: 70%;
    margin: auto;
}

/* regole header */
header{
    font-size: 18px;
    text-align: center;
    color: rgb(228, 67, 124);
    padding: 30px;
}

/* regole main */

.intro{
    text-align: center;
    padding-bottom: 15px;
    
}

/* regole griglia */
.row{
    margin-left: -10px;
    margin-right: -10px;
   
}

.row:after{
    content:"";
    display: table;
    clear: both;
}

.col{
    float: left;
    width: calc(100% / 3 - 20px);
    height: 100px;
    margin: 10px ;
    background-color: black;
}


img{
    max-width: 100px;
    margin-right: 10px;
    float: left;
}

.name{
    color: white;
    margin: 10px;
    font-size: 18px;
}

.professione{
    color: white;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: blue;

}